.myIcon{
    font-size: 1.4em !important;
    margin-left: 20px;
}
.parallax-container{
    background-size: cover;
    height: 400px;
}

#portfolio{
    display: flex;

}

.tile{
    width: 33.33%;
    height: 40vh;
}

.tile img{
height: 40vh;
display:block;
margin: auto;
}